# =================================
# Node / Dependencies
# =================================
node_modules/

# =================================
# Expo / Generated Output
# =================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# =================================
# React Native / Native build
# =================================
ios/
android/
android/app/build/
android/app/.cxx/
android/.gradle/

# =================================
# Releases & Build Artifacts
# =================================
releases/
*.apk
*.aab
*.ipa

# =================================
# Credentials & Secrets
# =================================
.env*
*.pem
credentials.json
android/app/keystore.jks

# =================================
# Code & Config Noise
# =================================
*.tsbuildinfo
*.orig.*
.DS_Store
.local
app-example

# =================================
# Debug Logs
# =================================
npm-debug.*
yarn-debug.*
yarn-error.*
metro-health-check*
.env
.env.local

# Add these lines to your .gitignore
keystore_base64.txt
credentials.json
credentials/android/*.jks
credentials/android/*.keystore

.env.development
.env.production
.env.local